numpy==1.19.4
pandas==1.2.0
pandas-datareader==0.9.0
pandasgui==0.2.7
Pillow==8.0.1
plotly==4.14.1
python-dateutil==2.8.1
python-editor==1.0.4
scikit-learn==0.24.0
scipy==1.5.4
seaborn==0.11.1
streamlit==0.73.1
Backtesting==0.3.1

